

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color: #16264B;
	
}
.page-header{
    background-image: url("../img/degradeheader.jpg");
    background-repeat: repeat-x;
}

.page-header .row h1{
	display: block;
	width: 240px; valign:middle;
}


.page-header .row h2{

 width: 150px;

}
.padding0{padding:0px!important;}
.margin0{margin:0px!important;}
.border0{border:0px!important;}










