	

/* ==========================================================================
 Estilos Generales
   ========================================================================== */
body{
	background-color: #16264B;
	
}

.padding0{padding:0px!important;}
.margin0{margin:0px!important;}
.border0{border:0px!important;}
.sinMarginBottom{margin-bottom:0px!important;}


/* ==========================================================================
 Header
   ========================================================================== */

.page-header{
	background-color:#091A41;
    background-image: url("../img/degradeheader.jpg");
    background-repeat: repeat-x;
}

.page-header .row h1{
	display: block;
	width: 240px; valign:middle;
}


.page-header .row h2{

 width: 150px;

}

/* ==========================================================================
	Botonera Top
   ========================================================================== */

#botoneraTop {
border-color:#091a41;
box-shadow:none;
}

#mainContainerHome{
	background-color:#fff;
	padding:0px;
	
}

.navbar-default {
	border-radius:0px;
}

#botoneraTop .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
	padding-right:10px;
	padding-left:10px;
}

@media screen and (max-width: 768px) {
	#botoneraTop .navbar-nav > li > a {	padding-left:20px;}
}


.navbar-default {
	background-image:none;
    background-color: #030E27!important;
	
	}

	
.navbar {
    position: relative;
    min-height: 42px;
    margin-bottom: 20px;

}
	
	
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
color:#fff; font-size:0.9em; font-family:DIN; 
font-weight:bold; text-transform:uppercase;
background-image: url("../img/degradeBtnMnu.jpg");
border-right:solid 1px #091A41;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
background-image: url("../img/degradeBtnMnu-Hover.jpg");
color:#fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
background-color:#091A41;
background-image: url("../img/degradeBtnMnu-Hover.jpg");
color:#fff;
}



@media screen and (min-width: 768px) {
	#botoneraTop .navbar-collapse {padding-left: 0px;}
	#botoneraTop .container-fluid {padding-left: 0px;}
}


/* Cuadro superior presentación*/

#marcoCuadroSuperior{
	
	border:solid 10px #fff;
	padding:0px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	margin-top:10px;
	margin-bottom:10px;
}

#marcoBotoneraSuperior{

border: 10px solid #FFF;
padding: 0px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
margin-top: 10px;
margin-bottom: 10px;

}
#marcoBotoneraSuperior .list-group .list-group-item{

background-color:#F60;
font-size: 0.85em;
font-weight: bold;
color: #FFF;
font-family: Arial;
background-color: #F60;
border: 3px solid;
text-align: left;
-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
padding-left: 8px;
padding-top: 5px;
padding-bottom: 3px;
margin-bottom: 11px;
}


@media screen and (max-width: 992px) {
	#marcoBotoneraSuperior .list-group .list-group-item{
		margin-bottom: 0px;
	}

}

